{% extends 'base.html' %}

{% block head %}
<title>Lista</title> 
{% endblock %}

<hr>
<h2>Utwórz nowy wpis</h2>
<form action='posts' method='POST'>
    Treść: <input type='text' name='title' id='title'>
    <br>
    <input type='submit' value='POST'>
</form>
<hr>

{% block body %}
    <br>
    <div>
        <h1 style="display:inline">ELEMENTY LISTY:</h1>
        <a style="display:inline" class="btn btn-success float-right" href="/posts/new">+ Nowy Element</a>
    </div>
    <hr>
        
    {% for post in posts %}
        <div>
            <h2 style="display:inline">{{ post.title }}</h2>
            <a style="display:inline" class="btn btn-danger float-right" href = '/posts/delete/{{post.id}}'>Usuń</a>
            <a style="display:inline" class="btn btn-primary float-right" href = '/posts/edit/{{post.id}}'>Edytuj</a>
        </div>
        
        <hr>
    {% endfor %}

{% endblock %}